.button {
    justify-content: left;
    text-align: center;
    padding: 3%;
    font-size: larger;
}

.buttons-container {
    width: 100%;
    justify-content: left;
    text-align: center;
    gap: 10px;
}